.emp-card {
	@include flexCenter();
	cursor: pointer;
	width: 250px;
	margin: 8px;
	filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.295));

	h6 {
		margin: 0;
		margin-top: 4px;
		font-size: 0.8em;
	}

	.emp-card-header {
		&:hover {
			transform: translateY(-2px);
			background-color: #4d6b8d;
		}

		&::before {
			@include flexCenter();
			position: absolute;
			width: 100%;
			height: 100%;
			content: url('../magnifying-glass-3-64.png');
			opacity: 0%;
			left: 0;
			transition: opacity 300ms;
		}

		&:hover::before {
			opacity: 75%;
			transition: opacity 300ms;
		}

		.emp-picture {
			@include flexCenter();
			width: 80px;
			height: 80px;
			border: 1px solid $offWhite;
			border-radius: 4px;
			background-color: $blueLight;
			margin-right: 13px;
		}

		.emp-info-header {
			margin: 0 auto;

			strong {
				font-family: 'Alumni Sans Pinstripe';
				font-size: 2.5em;
				text-transform: uppercase;
				letter-spacing: 0px;
				line-height: 1;
				text-decoration: underline;
				text-decoration-thickness: 1px;
				text-underline-offset: 3px;
			}

			p {
				margin-top: 4px !important;
				font-size: 0.75em !important;
				opacity: 75%;
			}
		}
	}
}

.modal-content {
	@include flexCenter();
	background-color: transparent !important;
	border: none;

	.emp-card-modal-container {
		min-width: 229px;
		background-color: white;
		border-radius: 12px 12px 6px 6px;
		filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.404));

		.emp-card-header-modal {
			border-radius: 6px 6px 0px;

			.emp-info-header {
				padding: 0 8px;
			}
			.emp-picture-icon {
				margin: 0 auto;
				font-size: 3em;
			}
		}

		.emp-contact-info {
			min-width: 210px;
			margin: auto;
			padding: 8px 0 13px 8%;
			color: $offBlack;
			font-size: 0.85em;

			p {
				@include flexRowAlign(center);
				width: 100%;
				height: 18px;
				line-height: 1 !important;
				margin: 8px 5px !important;

				strong {
					margin-right: 0.25rem;
				}
			}

			.card-edit {
				p {
					width: 100%;

					.card-input {
						height: 17px !important;
						width: 50%;
						margin: 0 3px;
						text-indent: 3px !important;
					}

					.number-input {
						text-indent: -1px !important;
						text-align: center;
						text-indent: 0;
					}

					#number-input1,
					#number-input2 {
						width: 31px;
					}

					#number-input3 {
						width: 38px;
					}

					.email-input {
						display: flex;
						width: 141px;
						height: 18px !important;
						line-height: 2 !important;
					}

					.salary-input {
						width: 131px;
					}

					.timezone-input {
						height: 100% !important;
						width: 146px;
						border: 1px solid rgb(168, 166, 166);
						border-radius: 3px;
					}
				}
			}

			.confirm {
				color: rgb(209, 45, 45);
				border: 2px solid rgb(209, 45, 45);

				&:hover {
					background-color: rgb(209, 45, 45);
				}
			}
		}
	}
}

.preview-card {
	@include flexJustifyAlign(center, center);
	flex-direction: column;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	background-color: $blue;
	color: $offWhite;
	filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.295));

	.emp-name {
		margin: 0;
		font-size: 0.9rem;
	}

	.emp-role {
		margin: 0;
		font-size: 0.7rem;
	}
}

.emp-card-header,
.emp-card-header-modal {
	@include flexRowAlign();
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 13px;
	background-color: $blue;
	color: white;
	border-radius: 6px;
	transition: transform 0.2s, background-color 0.2s;
}

.emp-card-button-container {
	padding: 5px 0;
}
.phone-missing {
	display: flex;
	justify-content: center;
	padding-right: 0.5rem;
}
.phone-missing .alert-icon {
	margin: 0 0.2rem;
	width: 10px !important;
	height: 10px !important;
}
.edit-button,
.delete-button,
.timezone-button,
.submit-button {
	background-color: transparent;
	border: 2px solid $blue;
	text-transform: uppercase;
	font-size: 0.75em;
	color: $blue;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.089);
	padding: 7px 10px;
	margin: 0px 3px 0px 5px;
	transition: all 0.2s;
}
:is(.edit-button, .delete-button, .submit-button) :hover {
	filter: none;
	color: $offWhite;
	background-color: $blue;
}
