$offBlack: #1b1b1b;
$offBlackNav: #161616;
$offWhite: #fcfbfd;
$greyDark: #5a5858;
$blueDark: #324e70;
$blueLight: #91b0d4;
$accentGrey: #cfc6d1;
$boxBackground: #e4dfdf;
$boxBorder: #cfcfcf;

$radiusInput: 3px;
$radiusButton: 5px;
$radiusContainer: 8px;

$textAccent: 'Alumni Sans Pinstripe';
$textPrimary: 'Poppins';
$textSecondary: 'Montserrat';

$heightInput: 2rem;
