@import './variables';
@import './mixins';
@import './navbar';
@import './teamcard';
@import './empcard';

/* CSS RESETS */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1;
}
html {
	height: 100%;
}
ol,
ul {
	list-style: none;
}

h1,
h2,
h3,
h4 {
	font-family: 'Alumni Sans Pinstripe';
	pointer-events: none;
	user-select: none;
}
h1 {
	font-size: 5rem;
}
h2 {
	font-size: 4rem;
}
h3 {
	font-size: 3rem;
}
h4 {
	font-size: 2.5rem;
}
h5 {
	font-size: 1.2em !important;
	pointer-events: none;
	user-select: none;
}
h6 {
	pointer-events: none;
	user-select: none;
}
body {
	font-family: 'Montserrat';
	background-color: $offBlack;
	color: $offWhite;
	overflow-x: hidden;
}

/* MAIN STYLING */

main {
	@include flexColumnAlign(center);
	width: 100vw;
	min-height: calc(100vh - 130px);
}
button {
	border: none;
	cursor: pointer;
	user-select: none;
	background-color: $blue;
	font-family: 'Montserrat';
	color: $offWhite;
	font-weight: 900;
	letter-spacing: 1px;
	border-radius: 5px;
	z-index: 2;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.568);
	transition: filter 0.2s;
}
button:hover {
	filter: brightness(1.2);
}
button:active {
	filter: brightness(1.4);
}
button:focus {
	outline: none;
}
header {
	@include flexColumnJustify(center);
	background-color: $blue;
	user-select: contain;
	width: 100%;
	padding: 5px calc((100vw - 1180px) / 2);
	padding-bottom: 20px;
}
label {
	font-family: 'Poppins';
}
input {
	width: 100%;
	border-radius: 3px;
	border: 1px solid rgb(168, 166, 166);
	text-indent: 6px;
	font-size: 90%;
	height: 33px;
	margin-bottom: 11px;
}
input:focus {
	outline: none !important;

	box-shadow: 0px 0px 1px 2px #7693b8cb !important;
}
select {
	font-size: 90% !important;
	text-indent: 3px;
}

footer {
	@include flexCenter();
	position: relative;
	height: 50px;
	width: 100vw;
}
p {
	margin-block: 0;
}
.row {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 0;
}
.mobile-background {
	display: none;
}

.team-menu li,
.link,
.help-button:hover .help-container button {
	margin-top: 0;
	transition: all 270ms ease;
}
.collapse .link,
.team-menu.collapse li,
.help-container button {
	margin-top: -7px;
}
.team-menu.collapse li,
.help-container button {
	padding-top: -10px !important;
	padding-bottom: 0 !important;
}
.container {
	margin-top: 2.5rem;
	border-radius: 8px;
	filter: drop-shadow(2px 4px 5px rgba(0, 0, 0, 0.37));
	display: flex;
	flex-direction: row;
	width: 40%;
	min-width: 48rem;
	min-height: 31rem;
}
.init-container {
	min-height: 31rem;
	height: 31rem;
}
.login-container {
	min-height: 31rem;
	height: 31rem;
}
.register-container {
	min-height: 40.5rem;
	height: 40.5rem;
}
.form-divider {
	margin: 7px 0 22px;
}
.form-side {
	@include flexColumnAlign(center);
	width: 50%;
	height: 100%;
	background-color: $accent;
	color: $offBlack;
}
.control {
	height: 2.8rem !important;
}
.register-container .form-side {
	border-radius: 0 20px 8px 0;
}
.login-container,
.init-container {
	.form-side {
		border-radius: 20px 0 0 8px;

		.button-container {
			h6 {
				font-size: 0.7rem;
				margin: -0.5rem 0 0 0;
			}
		}
	}
}

.form-side h1 {
	font-weight: 700;
	letter-spacing: 3px;
	width: 100%;
	padding: 20px 30px 30px;
	margin-bottom: 15px;
	text-align: center;
	line-height: 1;
	text-shadow: 2px 3px 3px $offBlack;
	color: $offWhite;
	background-color: $blue;
	border-top-left-radius: 8px;
	text-decoration: underline;
	text-decoration-thickness: 3px;
	text-underline-offset: 17px;
}
.register-container .form-side h1 {
	border-radius: 0 8px 0 0;
}
.form-side h6 {
	width: 90%;
	text-align: center;
}
.register-container .form-side h6 {
	margin-bottom: 10px;
}
.register-input div div input {
	margin-bottom: 5px;
}
.form-side p {
	margin-bottom: 20px;
}
.form-container {
	width: 80%;
}
.quick-add .form-container {
	width: 100% !important;
}
.label {
	margin: 8px 0;
	font-weight: 900;
	font-size: 90%;
}
.button-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 5px;
}
.team-add h6 {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 0.8rem auto 0;
	text-align: center;
}
.team-add h6 strong {
	margin: 0.5rem 0 1.2rem;
}
.team-preview h3 {
	font-size: 4rem;
	line-height: 0.5;
	margin: 0.4rem 0 1.5rem !important;
}
.team-summary-header h6,
.team-preview-header h6,
.team-preview h3 {
	text-align: center;
}
.team-add h6 span,
.team-name-container h6 span {
	margin: 0.35rem;
}
.ts-role p {
	font-size: 0.9rem !important;
	line-height: 0.8 !important;
	display: flex;
	align-items: center;
}
.team-add .button-container {
	margin-top: 0;
}
.team-add .form-button {
	margin-top: 1.1rem;
	margin-bottom: 0.6rem;
}
.quick-add .form-button {
	margin: 13px 0 8px;
}
.required {
	width: 100%;
	text-align: right;
	font-size: 0.8rem;
	margin: 8px 0 -18px -18px !important;
}
.form-button {
	width: 100%;
	height: 42px;
	margin: 7px 0 17px;
	background-color: $blue;
}
.form-button:hover {
	filter: brightness(1.2);
}
.form-button:active {
	filter: brightness(1.4);
}
.form-button:focus {
	outline: none;
}
.divider {
	width: 100%;
	height: 1px;
	background: rgba(255, 255, 255, 0);
	background: linear-gradient(
		270deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(0, 0, 0, 0.4234068627450981) 50%,
		rgba(255, 255, 255, 0) 100%
	);
}

.banner-side {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
	background-color: $blue;
	border-radius: 0 8px 8px 0;
	overflow: hidden;
}
.register-container .banner-side {
	border-radius: 8px 0 0 8px;
}
.banner {
	position: relative;
	width: 100%;
	height: 100%;
}
.banner::before,
.register-banner::before {
	content: '';
	position: absolute;
	background-image: url('../banner.jpg');
	width: 90%;
	height: 55%;
	right: 15px;
	top: 120px;
	background-size: cover;
	transform: rotate(90deg) scale(1.55);
	opacity: 75%;
	filter: blur(2px);
	background-repeat: no-repeat;
	z-index: 0;
}
.register-banner::before {
	width: 140%;
	right: -20%;
}
.login-container .banner::before,
.init-container .banner::before {
	width: 130%;
	right: -15%;
}
.brand {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 50%;
	height: 50%;
	top: 22%;
	z-index: 555;
}
.brand h1 {
	display: flex;
	align-items: center;
	line-height: 1;

	font-weight: 900;
	text-shadow: 1px 2px 2px black;
	color: $offWhite;
}
.brand span {
	color: $blueLight;
}
.brand h5 {
	font-weight: 100;
	opacity: 90%;
	letter-spacing: 2px;
	line-height: 0;
	text-shadow: 1px 2px 2px black;
}
.quick-add .sub-container {
	margin-top: -5px;
}
.brand-icon {
	color: $blueLight;
	font-size: 4.5rem;
	filter: drop-shadow(1px 2px 1px rgb(0, 0, 0));
	display: flex;
	z-index: 555;
}
.name-control,
.password-control {
	display: flex;
	justify-content: space-between;
}
.name-control input,
.password-control input {
	width: 48%;
}
.menu-button {
	width: 10px;
	height: 10px;
	margin: 30px 65px;
}
header h1 {
	text-decoration: underline;
	text-underline-offset: 12px;
	text-decoration-thickness: 2px;
	text-decoration-color: $offWhite;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.377);
}
.exit-button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0;
	top: 0;
	padding: 3px;
	width: 26px;
	height: 26px;
	border: none;
	transition: all 270ms;
}
header .pencil-icon,
.exit-button,
.header-button {
	color: $blueLight;
}
header .pencil-icon,
.header-button {
	font-size: 1.5rem;
	transition: transform 100ms;
}
header .pencil-icon:hover,
.exit-button:hover,
.header-button:hover svg {
	pointer-events: all;
	cursor: pointer;
	color: #bdd4ee;
	filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.342)) !important;
}
header .pencil-icon:active,
.exit-button:active,
.header-button:active svg {
	transform: scale(0.9);
}
.open .pencil-icon {
	color: $offWhite;
}
.open .pencil-icon:hover {
	color: white;
	filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.541));
}
.header-text h1 {
	display: flex;
	align-items: center;
	line-height: 1;
	margin: 10px 0;
	pointer-events: all;
	font-size: 6.5rem;
	font-weight: 700;
	letter-spacing: 4px;
	text-decoration-thickness: 4px;
	text-underline-offset: 14px;
}
.header-text h4 {
	display: flex;
	align-items: center;
	margin-bottom: 0;
	pointer-events: all;
}
.header-text h4 strong,
.header-text h4 select {
	margin-left: 0.5rem;
}
.header-text input {
	width: auto;
}
.header-text h1 input {
	height: 5rem;
	margin: 12px 1rem 12px 0;
	width: 40.5rem;
	pointer-events: all;
	user-select: all;
}
.header-text h4 select {
	margin: -2.5px 0.5rem;
	pointer-events: all;
	user-select: all;
}
.header-text h4 .header-button {
	margin: 0.5rem !important;
}
.header-button-container {
	display: flex;
	height: 100%;
}
.header-button {
	margin: 1rem;
	opacity: 0.8;
	background-color: transparent;
}
.team-menu {
	transform: translate(-91%, 3px);
	width: 155px;
	opacity: 1;
	transition: all 270ms ease;
}
.team-menu.collapse {
	@include noSelect();
	opacity: 0;
}
.team-menu .collapse li {
	@include noSelect();
}
.team-menu,
.nav-link-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	user-select: none;
	border: 1px solid white;
	border-radius: 6px;
}
.team-menu li,
.nav-button {
	padding: 8px 10px;
	cursor: pointer;
	background-color: #2424248e;
	transition: all 270ms ease;
}
.team-menu li:hover,
.nav-button:hover {
	background-color: #3b3b3b8e;
}
#edit-name {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#edit-name,
#edit-manager {
	border-bottom: 1px solid white;
}
#delete-team {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.tab-button,
.help-button .additional-link {
	height: 45px;
	padding: 0 15px;
	margin-right: 5px;
	background-color: transparent;
	transition: background-color 100ms;
}
.tab-button:hover,
.additional-link:hover {
	background-color: rgba(255, 255, 255, 0.048);
}
.tab-button:active {
	background-color: rgba(255, 255, 255, 0.151);
}
.help-container button:hover {
	/* background-color: rgba(151, 177, 250, 0.164); */
}
.help-container button:active {
	/* background-color: rgba(178, 198, 252, 0.253); */
}
.tab-container {
	display: flex;
	width: 100% !important;
	padding: 10px calc((100vw - 1180px) / 2);
	background-color: #16223175;
}
.home-container,
.profile-container,
.create-team-container {
	display: flex;
	padding: 16px 37px 4px 16px !important;
	justify-content: space-between;
	height: 100%;
}
.home-container {
	width: 1300px;
}
.create-team-container {
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1300px;
	width: 100%;
}
.profile-container {
	width: 1190px;
}
.manager-icon {
	color: $offWhite;
	font-size: 2rem;
	margin-right: 5px;
}
.role-add,
.quick-add,
.your-team,
.summary,
.profile-info,
.profile-teams,
.team-card-container,
.team-add,
.team-name-container,
.team-preview {
	background-color: $grey;
	border-radius: 8px 8px 6px 6px;
	color: $offBlack;
}
.profile-info {
	width: 100%;
}
.col {
	min-height: auto;
}
.col-home,
.col-team {
	display: flex;
	flex-direction: column;
	width: calc(28% - 16px);
	min-height: calc(100% - 0px) !important;
}
.col-team {
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 1;
	flex-basis: 20rem;
	justify-content: center;
}
.col-profile-sm,
.col-profile-lg {
	display: flex;
	flex-direction: column;
}
.col-profile-sm {
	width: calc(34% - 16px);
}
.col-profile-lg {
	width: 66%;
}
.summary,
.team-name-container,
.role-add {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 16px;
}
.team-name-container,
.team-add {
	margin-right: 16px;
	margin-bottom: 16px;
	max-width: 30rem;
	flex-grow: 1;
	width: 100%;
	min-width: calc(50% - 16px);
}
.your-team,
.team-preview {
	width: 72%;
}
.team-preview {
	display: flex;
	flex-direction: column;
	height: auto;
	margin-bottom: 16px;
	flex-grow: 1;
	min-height: 35rem;
}
.team-preview-header {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0.4rem;
	border-bottom: 1px solid rgba(192, 192, 192, 0.486);
}
.team-preview-body {
	border-radius: 8px;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
}
:is(
		.role-add,
		.quick-add,
		.your-team,
		.summary,
		.profile-info,
		.profile-teams,
		.team-add,
		.team-name-container,
		.team-preview
	)
	h2 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	padding: 10px 0;
	background-color: $blue;
	color: $offWhite;
	text-shadow: 1px 1px 2px black;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 3.5em;
	letter-spacing: 1px;
	width: 100%;
}
:is(
		.profile-info,
		.profile-teams,
		.team-add,
		.team-name-container,
		.team-preview
	)
	h2 {
	display: flex;
	align-items: center;
	text-align: left;
	padding: 0;
	font-size: 1.5rem;
	margin: 0;
	letter-spacing: 2px;
	line-height: 0;
	height: 2rem;
	min-height: 2rem;
}

.card-icon {
	font-size: 1.3rem;
	margin: 0 0.4rem;
}
.user-icon.card-icon {
	font-size: 1.1rem;
}
.team-icon.card-icon {
	font-size: 1.5rem;
	margin: 0.4rem;
}
.summary h6 {
	font-size: 1.05em;
}

.divider {
	width: 65%;
}
.profile-teams-container {
	border-radius: 6px 0 0 6px;
	padding: 13px 0 0 13px;
	width: 100%;
	height: 100%;
	background-color: $offBlack;
}
.profile-teams-key {
	display: flex;
	align-items: center;
	padding: 0 0 0 13px;
}
.profile-teams-key h6 {
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Poppins';
	padding: 5px 0;
	color: rgb(185, 188, 192);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 0.9rem;
	letter-spacing: 0px;
}
#profile-name {
	width: 56%;
}
#profile-managers,
#profile-employees {
	width: 15.5%;
	padding-left: 1rem;
}
#profile-delete {
	width: 13%;
}
.card-body {
	padding: 15px 0;
	width: 80%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.summary .card-body p {
	margin-bottom: 5px;
}
.profile-teams .card-body {
	padding: 13px 0 13px 21px;
	width: 100%;
}
.container-body {
	padding: 13px 0;
	width: 90% !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}
:is(.role-add, .quick-add, .team-add, .team-name-container) .container-body {
	position: relative;
	padding: 18px 0;
	width: 80%;
	display: flex;
	align-items: center;
	margin: 0 auto;
	height: 16.6rem;
	overflow: hidden;
}
.role-add .container-body {
	height: min-content;
}
.team-add .container-body {
	padding-top: 0;
	height: 16.5rem;
}
.team-name-container .container-body {
	padding-top: 0;
	padding-bottom: 0.7rem;
	height: fit-content !important;
	width: 85% !important;
}
.team-preview .container-body {
	display: flex;
	width: 100% !important;
	height: 100%;
	padding-bottom: 0;
}
.team-name-container .container-body,
.team-name-container h6,
.team-name-container span {
	margin: 0 auto;
	height: auto;
	overflow: visible;
	width: 80%;
}
.team-name-container h6,
.team-name-container span {
	width: 100%;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 0.2rem;
}
.team-name-container span {
	margin-top: 0.5rem;
}
.team-name-container p {
	font-size: 0.9rem !important;
	margin-top: 0.1rem !important;
	margin-bottom: 0.8rem !important;
}
.account-info {
	flex-direction: row;
	padding: 1rem 0 0.2rem;
	width: 90%;
	overflow: hidden;
	align-items: center;
	margin: auto !important;
}
.account-info .col {
	padding: 0;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.account-info .col div {
	position: relative;
	display: flex;
	align-items: center;
	font-size: 0.9rem;
	letter-spacing: -0.7px;
	line-height: 0;
	margin: 0.3rem 0;
}
.account-info .col div strong {
	margin-right: 0.3rem;
}

.account-picture {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1rem !important;
	min-width: 5.9rem;
	height: 5.9rem;
	border-radius: 4px;
	background-color: $greyDark;
}
.account-picture-icon {
	color: $offWhite;
	margin: 0 auto;
	font-size: 3em;
}
.profile-info .divider {
	width: 70%;
	opacity: 70%;
	margin: 13px auto;
}
.card-body,
.container-body p {
	font-size: 1em;
	line-height: 1.25;
	margin: 8px 0;
}
.more-stats-toggler {
	font-size: 0.75em;
	cursor: pointer;
	margin: 5px 0;
	user-select: none;
}
.more-stats-toggler:hover {
	text-decoration: underline;
	text-underline-offset: 1px;
	text-decoration-color: #8d8d8d;
}
.more-stats-toggler .stats-toggler {
	transition: all 0.1s;
}
.more-stats-toggler:hover .stats-toggler {
	transform: translateY(1px);
}
.more-stats-toggler:hover .rotated {
	transform: rotate(180deg);
}
.info {
	display: flex;
	width: 90%;
	align-items: center;
	margin: 5px 0;
}
.alert-icon {
	font-size: 1.5rem;
	width: 30px !important;
	height: 30px !important;
	margin: 3px 13px 3px 8px;
}
.info p {
	font-size: 0.8em;
	margin-bottom: 0 !important;
	line-height: 1.25;
	width: 95%;
}
.pencil-icon {
	font-size: 0.7rem;
	margin: 0;
}
.rotated {
	transform: rotate(180deg) translateY(0px);
}
.more-stats {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	padding: 8px;
	border: 1px solid $subBoxBorder;
	background-color: $subBoxBg;
	border-radius: 2px;
	margin: 8px 0;
	opacity: 100%;
	transform: translateY(0%);
	transition: all 0.5s;
}

.more-stats.collapsed {
	pointer-events: none;
	margin-bottom: -15px;
	opacity: 0%;
	transform: translateY(-10%);
	transition: all 0.5s;
}
.more-stats p {
	font-size: 0.8em;
	margin: 5px;
	transition: all 0.5s;
}
.more-stats.collapsed p {
	margin-top: -15px;
}
.summary-header {
	text-align: center;
	margin: 8px 0px;
}
.managers,
.employees {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.card-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}
.allowed-teams {
	line-height: 1.5;
	padding: 5px 0 23px;
	width: 80%;
	text-align: center;
	margin: 0 auto;
}
.employee-input .field {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.employee-input .field label {
	display: flex;
	float: left;
	width: 22%;
}
.employee-input .field .control,
.role-select {
	width: 78%;
}
.team-name-container .field {
	display: flex;
}
.team-name-container .label {
	display: flex;
	min-width: fit-content;
	margin-right: 0.6rem;
}
.team-name-container .control {
	width: 100%;
}
.role-select:active,
select:active {
	border-color: rgb(118, 118, 118) !important;
	border-radius: 3px;
}
.role-select:focus,
select:focus {
	outline: none;
}
.add-employee-container,
.add-manager-container {
	position: absolute;
	transition: all 570ms;
	width: 17rem;
}
.add-role-container {
	margin-top: 0rem;
	width: 17rem;
}
.add-role-container button {
	margin-top: 0.3rem !important;
	margin-bottom: 0.3rem;
}
.add-role-container label {
	width: 40% !important;
}
.add-employee-container .divider,
.add-manager-container .divider {
	width: 100%;
	margin: 13px 0 16px;
}
.team-add .divider {
	margin-top: 0.8rem;
}
.team-preview .divider {
	margin: 0.8rem 0;
}
.team-summary .divider,
.team-name-container .divider {
	margin: 1rem auto;
}
.team-name-container .control {
	height: auto !important;
}
.team-name-container input {
	margin: 0.3rem 0;
}
.team-name-container .label {
	display: flex;
	align-items: center;
}
.add-employee-container .form-container,
.add-manager-container .form-container,
.team-name-container .form-container,
.add-role-container .form-container {
	width: 100% !important;
}

.quickadd-toggler {
	color: #007bff;
}
.quickadd-toggler:hover {
	color: #105daf;
	cursor: pointer;
	text-decoration: underline;
}
.new-team-button {
	background-color: transparent;
	display: flex;
	align-items: center;
	padding-right: 0.9rem;
	height: 3.5rem;
	font-size: 2.5rem;
	text-transform: uppercase;
	font-family: 'Alumni Sans Pinstripe';
	margin-bottom: 13px;
	transition: text-indent 220ms, background-color 120ms;
	text-indent: 0.2rem;
}
.new-team-button:hover {
	background-color: rgba(255, 255, 255, 0.068);
	text-indent: 0.3rem;
	filter: brightness(1);
}
.new-team-button .right-caret {
	font-size: 2rem;
	transform: translateX(0.2rem);
	transition: all 220ms;
}
.new-team-button:hover .right-caret {
	transform: translateX(0.3rem);
}
.team-summary {
	flex-basis: 18rem;
	flex-grow: 2;
	min-width: 48%;
	width: 48%;
	border-right: 1px solid rgba(192, 192, 192, 0.486);
	border-top: 1px solid rgb(255, 255, 255);
	border-bottom: 1px solid rgba(192, 192, 192, 0.486);
}
.preview-row {
	display: flex;
	flex-grow: 1;
	width: 52%;
}
.managers-preview {
	border-right: 1px solid rgba(192, 192, 192, 0.486);
}
.managers-preview,
.employees-preview {
	border-right: 1px solid rgba(192, 192, 192, 0.486);
	width: 50%;
	border-top: 1px solid rgb(255, 255, 255);
	border-left: 1px solid rgb(255, 255, 255);
	padding: 0.5rem 1rem;
}
.team-summary-header {
	width: 90%;
	margin: 1.3rem auto;
}
.ts-roles {
	padding: 0 1.3rem;
}
.ts-roles-container {
	width: 90%;
	margin: 0 auto;
}
.ts-role {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ts-role p {
	margin-left: 0.2rem;
	text-indent: 0.2rem;
}
.preview-card-container {
	display: flex;
	align-items: center;
	width: 100%;
	height: 3.2rem;
	margin: 0.5rem 0;
}
.preview-delete-button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	width: 2rem;
	height: 2rem;
	margin-left: 0.5rem;
	color: $offBlack;
	background-color: transparent;
}
.preview-delete-icon {
	opacity: 0.7;

	transition: all 150ms;
}
.preview-delete-button:hover .preview-delete-icon {
	opacity: 1;
}
.preview-delete-button:active .preview-delete-icon {
	filter: brightness(1.5);
	transform: scale(0.9);
}
@media screen and (max-width: 768px) {
	main {
		min-height: 800px;
	}
	.mobile-background-container {
		position: absolute;
		display: flex;
		width: 100%;
		min-height: 800px;
		height: 100%;
		background-color: $blue;
		overflow: hidden;
		z-index: 0;
	}
	.mobile-background {
		position: relative;
		display: flex;
		background-image: url('../banner.jpg');
		background-size: cover;
		width: 100%;
		height: 100%;
		opacity: 75%;

		filter: blur(2px);
		pointer-events: none;
	}
	.navbar-brand {
		padding: 0 0.75rem;
	}
	.brand-text {
		display: none;
	}
	.init-container {
		transform: translateY(6.5rem);
		padding: 0;
		width: 100%;
		min-width: 22rem;
		max-width: 35rem;
	}
	.form-side {
		width: 100%;
		border-radius: 0 !important;
	}
	.form-side h1 {
		font-size: 5.5rem;
		border-radius: 0;
	}
	.form-side h6 {
		width: 90%;
	}
	.label,
	button {
		font-size: 1.2rem;
	}
	.form-side h6,
	input,
	.sub-container p,
	.sub-container a {
		font-size: 1.1rem;
	}
	.brand {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: auto;
		top: 0;
		transform: translateY(-8rem);
	}
	.banner-side {
		position: absolute;
		overflow: visible;
		width: 100%;
		background-color: transparent;
	}
	.banner::before {
		display: none;
	}
}
