:root {
	--off-black: #1b1b1b;
	--off-white: #fcfbfd;
	--blue: #324e70;
	--blue-light: #91b0d4;
	--accent: #cfc6d1;
	--sub-box-bg: #e4dfdf;
	--sub-box-border: #cfcfcf;
}

/* CSS RESETS */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1;
}
html {
	height: 100%;
}
ol,
ul {
	list-style: none;
}

h1,
h2,
h3,
h4 {
	font-family: 'Alumni Sans Pinstripe';
}
h1 {
	font-size: 5rem;
}
h2 {
	font-size: 4rem;
}
h3 {
	font-size: 3rem;
}
h4 {
	font-size: 2.5rem;
}
h5 {
	font-size: 1.2em !important;
}
body {
	font-family: 'Montserrat';
	background-color: var(--off-black);
	color: var(--off-white);
	overflow-x: hidden;
}

/* MAIN STYLING */
nav {
	height: 80px;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem calc((100vw - 1150px) / 2);
	align-items: center;
	filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.705));
	background-color: rgb(22, 22, 22);
	z-index: 99999 !important;
}
main {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	min-height: calc(100vh - 130px);
}
button {
	border: none;
	cursor: pointer;
	background-color: var(--blue);
	font-family: 'Montserrat';
	color: var(--off-white);
	font-weight: 900;
	letter-spacing: 1px;
	border-radius: 5px;
	z-index: 2;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.568);
	transition: filter 0.2s;
}
button:hover {
	filter: brightness(1.2);
}
button:active {
	filter: brightness(1.4);
}
button:focus {
	outline: none;
}
header {
	background-color: var(--blue);
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	padding: 5px calc((100vw - 1180px) / 2);
	padding-bottom: 20px;
}
label {
	font-family: 'Poppins';
}
input {
	width: 100%;
	border-radius: 3px;
	border: 1px solid rgb(168, 166, 166);
	text-indent: 6px;
	font-size: 90%;
	height: 33px;
	margin-bottom: 11px;
}
input:focus {
	outline: none !important;

	box-shadow: 0px 0px 1px 2px #7693b8cb !important;
}
select {
	font-size: 90% !important;
	text-indent: 3px;
}
footer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 100vw;
}
p {
	margin-block: 0;
}
.row {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 0;
}
.mobile-background {
	display: none;
}

.navbar-brand,
.index-button {
	display: flex;
	justify-content: center;
	align-items: center;
}
.brand-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar-brand h3 {
	font-weight: 900;
	color: var(--off-white);
	margin-top: 12px;
}
.navbar-brand .ez,
.navbar-brand-icon {
	color: var(--blue-light);
}
.navbar-brand .index-button:hover {
	text-decoration: none;
	filter: brightness(0.75);
}
.register-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 12px 2px !important;
}
.navbar-links {
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar-toggler {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
	margin: 0 0 0 12px;
	transition: all 200ms ease;
}
.navbar-burger {
	font-size: 3rem;
	transition: all 200ms ease;
}
.navbar-toggler:hover .navbar-burger {
	transform: scale(1.1);
}
.navbar-toggler:not(.open):hover .navbar-hover-arrow {
	transform: translateY(1.7rem);
	opacity: 1;
}
.navbar-toggler.open .navbar-hover-arrow {
	transform: rotate(180deg) translateY(-1rem);
}
.navbar-toggler.open:hover .navbar-hover-arrow {
	transform: rotate(180deg) translateY(-1.7rem);
	opacity: 1;
}
.navbar-hover-arrow {
	position: absolute;
	pointer-events: none;
	opacity: 0;
	transform: translateY(1rem);
	font-size: 1.2rem;
	transition: all 270ms ease;
}

.nav-link-container {
	transform: translateY(85%);
	opacity: 1;
	width: 110px;
	align-items: center;
	transition: all 270ms;
}

.nav-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: var(--off-white);
	font-size: 1.3rem;
}
.nav-button:hover {
	color: white;
	text-decoration: none;
}
#login-button {
	border-top: 1px solid var(--off-white);
	border-radius: 0px 0px 6px 6px;
}
#about-button {
	border-bottom: 1px solid var(--off-white);
	border-radius: 6px 6px 0px 0px;
}
.register-link {
	width: 100%;
	height: 100%;
	background-color: red;
	margin: 0 12px;
	border-radius: 5px;
	color: var(--off-white) !important;
}
.navbar-links a:hover {
	color: white !important;
	text-decoration: none !important;
}
.collapse {
	opacity: 0;
	pointer-events: none;
	transform: translateY(70%);
}
.link {
	margin-top: 0;
	transition: all 270ms ease;
}
.collapse .link {
	margin-top: -7px;
}
.container {
	margin-top: 45px;
	border-radius: 8px;
	filter: drop-shadow(2px 4px 5px rgba(0, 0, 0, 0.37));
	display: flex;
	flex-direction: row;
	width: 40%;
	min-width: 770px;
	min-height: 496px;
}
.init-container,
.login-container {
	height: 496px;
}
.register-container {
	height: 698px;
}
.form-divider {
	margin: 7px 0 22px;
}
.form-side {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: var(--accent);
	color: var(--off-black);
}
.register-container .form-side {
	border-radius: 0 20px 8px 0;
}
.login-container .form-side,
.init-container .form-side {
	border-radius: 20px 0 0 8px;
}

.form-side h1 {
	font-weight: 700;
	letter-spacing: 3px;
	width: 100%;
	padding: 20px 30px 30px;
	margin-bottom: 15px;
	text-align: center;
	line-height: 1;
	text-shadow: 2px 3px 3px var(--off-black);
	color: var(--off-white);
	background-color: var(--blue);
	border-top-left-radius: 8px;
	text-decoration: underline;
	text-decoration-thickness: 3px;
	text-underline-offset: 17px;
}
.register-container .form-side h1 {
	border-radius: 0 8px 0 0;
}
.form-side h6 {
	width: 90%;
	text-align: center;
}
.register-container .form-side h6 {
	margin-bottom: 10px;
}
.register-input div div input {
	margin-bottom: 5px;
}
.form-side p {
	margin-bottom: 20px;
}
.form-container {
	width: 80%;
}

.label {
	margin: 8px 0;
	font-weight: 900;
	font-size: 90%;
}
.button-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 5px;
}
.required {
	width: 100%;
	text-align: right;
	font-size: 0.8rem;
	margin: 8px 0 -18px -18px !important;
}
.form-button {
	width: 100%;
	height: 42px;
	margin: 7px 0 17px;
}
.form-button:hover {
	filter: brightness(1.2);
}
.form-button:active {
	filter: brightness(1.4);
}
.form-button:focus {
	outline: none;
}
.divider {
	width: 100%;
	height: 1px;
	background: rgba(255, 255, 255, 0);
	background: linear-gradient(
		270deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(0, 0, 0, 0.4234068627450981) 50%,
		rgba(255, 255, 255, 0) 100%
	);
}

.banner-side {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
	background-color: var(--blue);
	border-radius: 0 8px 8px 0;
	overflow: hidden;
}
.register-container .banner-side {
	border-radius: 8px 0 0 8px;
}
.banner {
	position: relative;
	width: 100%;
	height: 100%;
}
.banner::before,
.register-banner::before {
	content: '';
	position: absolute;
	background-image: url('../banner.jpg');
	width: 90%;
	height: 55%;
	right: 15px;
	top: 120px;
	background-size: cover;
	transform: rotate(90deg) scale(1.55);
	opacity: 75%;
	filter: blur(2px);
	background-repeat: no-repeat;
	z-index: 0;
}
.register-banner::before {
	width: 140%;
	right: -20%;
}
.brand {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 50%;
	height: 50%;
	top: 22%;
	z-index: 555;
}
.brand h1 {
	display: flex;
	align-items: center;
	line-height: 1;

	font-weight: 900;
	text-shadow: 1px 2px 2px black;
	color: var(--off-white);
}
.brand span {
	color: var(--blue-light);
}
.brand h5 {
	font-weight: 100;
	opacity: 90%;
	letter-spacing: 2px;
	line-height: 0;
	text-shadow: 1px 2px 2px black;
}
.sub-container {
	margin-top: -5px;
}
.brand-icon {
	color: var(--blue-light);
	font-size: 4rem;
	display: flex;
	z-index: 555;
}
.name-control,
.password-control {
	display: flex;
	justify-content: space-between;
}
.name-control input,
.password-control input {
	width: 48%;
}
.menu-button {
	width: 10px;
	height: 10px;
	margin: 30px 65px;
}
header h1 {
	text-decoration: underline;
	text-underline-offset: 12px;
	text-decoration-thickness: 2px;
	text-decoration-color: var(--off-white);
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.377);
}
.exit-button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0;
	top: 0;
	width: 26px;
	height: 26px;
	border: none;
}
header i,
.exit-button {
	color: var(--blue-light);

	transition: transform 100ms;
}
header i:hover,
.exit-button:hover {
	cursor: pointer;
	color: #bdd4ee;
	filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.342));
	transition: color 0.1s, transform 100ms, filter 0.05s;
}
header i:active,
.exit-button:active {
	transform: scale(0.9);
}
.open i {
	color: var(--off-white);
}
.open i:hover {
	color: white;
	filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.541));
	transition: color 0.1s, transform 100ms, filter 0.05s;
}
.header-text h1 {
	line-height: 1;
	margin: 10px 0;
	font-size: 6.5rem;
	font-weight: 700;
	letter-spacing: 4px;
	text-decoration-thickness: 4px;
	text-underline-offset: 14px;
}
.header-text h4 {
	margin-bottom: 0;
}
.team-menu {
	transform: translate(-91%, 3px);
	width: 155px;
}

.team-menu,
.nav-link-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	user-select: none;
	border: 1px solid white;
	border-radius: 6px;
}
.team-menu li,
.nav-button {
	padding: 8px 10px;
	cursor: pointer;
	background-color: #2424248e;
	transition: background-color 100ms;
}
.team-menu li:hover,
.nav-button:hover {
	background-color: #3b3b3b8e;
}
#edit-name {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#edit-name,
#edit-manager {
	border-bottom: 1px solid white;
}
#delete-team {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.tab-button,
.register-link {
	height: 45px;
	padding: 0 15px;
	margin-right: 5px;
	background-color: transparent;
	transition: background-color 100ms;
}
.tab-button:hover,
.register-link:hover {
	background-color: rgba(255, 255, 255, 0.048);
}
.tab-container {
	width: 100% !important;
	padding: 10px calc((100vw - 1180px) / 2);
	background-color: #16223175;
}
.home-container,
.profile-container {
	display: flex;
	padding: 16px 0px;
	justify-content: space-between;
	height: 100%;
}
.home-container {
	width: 1300px;
}
.profile-container {
	width: 1190px;
}
.manager-icon {
	color: var(--off-white);
	font-size: 2rem;
	margin-right: 5px;
}
.quick-add,
.your-team,
.summary,
.profile-info,
.profile-teams,
.team-card-container {
	background-color: #e7e3e3;
	border-radius: 8px 6px;
	color: var(--off-black);
}
.profile-info {
	width: 100%;
}

.col-home {
	display: flex;
	flex-direction: column;
	width: calc(28% - 16px);
	min-height: calc(100% - 0px) !important;
}
.col-profile-sm,
.col-profile-lg {
	display: flex;
	flex-direction: column;
}
.col-profile-sm {
	width: calc(33% - 16px);
}
.col-profile-lg {
	width: 67%;
}
.summary {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 16px;
}
.your-team {
	width: 72%;
}
.quick-add h2,
.your-team h2,
.summary h2,
.profile-info h2,
.profile-teams h2 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	padding: 10px 0;
	background-color: var(--blue);
	color: var(--off-white);
	text-shadow: 1px 1px 2px black;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 3.5em;
	letter-spacing: 1px;
	width: 100%;
}
.profile-info h2,
.profile-teams h2 {
	display: flex;
	align-items: center;
	text-align: left;
	padding: 0.2rem 0;
	font-size: 1.5rem;
	margin: 0;
	letter-spacing: 2px;
}
.card-icon {
	font-size: 1.4rem;
	margin: 0 0.4rem;
}
.summary h6 {
	font-size: 1.05em;
}

.divider {
	width: 65%;
}
.profile-teams-container {
	border-radius: 6px 0 0 6px;
	padding: 13px 0 0 13px;
	width: 100%;
	height: 100%;
	background-color: var(--off-black);
}
.profile-teams-key {
	display: flex;
	align-items: center;
	padding: 0 0 0 13px;
}
.profile-teams-key h6 {
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Poppins';
	padding: 5px 0;
	color: rgb(185, 188, 192);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 0.9rem;
	letter-spacing: 0px;
}
#profile-name {
	width: 50%;
}
#profile-managers,
#profile-employees {
	width: 18.5%;
}
#profile-delete {
	width: 13%;
}
.card-body {
	padding: 13px 0;
	width: 80%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.profile-teams .card-body {
	padding: 13px 0 13px 21px;
	width: 100%;
}
.container-body {
	padding: 13px 0;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}
.account-info {
	padding: 8px 10%;
	width: 100%;
}
.account-info .divider {
	width: 80%;
	margin: 10px auto;
}
.account-info p {
	line-height: 1.35;
}
.card-body,
.container-body p {
	font-size: 1em;
	line-height: 1.25;
	margin: 5px 0;
}
.more-stats-toggler {
	font-size: 0.75em;
	cursor: pointer;
	margin: 5px 0;
	user-select: none;
}
.more-stats-toggler:hover {
	text-decoration: underline;
	text-underline-offset: 1px;
	text-decoration-color: #8d8d8d;
}
.more-stats-toggler i {
	transition: all 0.1s;
}
.more-stats-toggler:hover i {
	transform: translateY(1px);
}
.more-stats-toggler:hover .rotated {
	transform: rotate(180deg);
}
.info {
	display: flex;
	width: 90%;
	align-items: center;
	margin: 5px 0;
}
.info i {
	font-size: 1.5em;
	margin: 3px 10px 3px;
}
.info p {
	font-size: 0.8em;
	margin-bottom: 0;
	line-height: 1.25;
}
.info p i {
	font-size: 1em;
	margin: 0;
}
.rotated {
	transform: rotate(180deg) translateY(0px);
}
.more-stats {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	padding: 8px;
	border: 1px solid var(--sub-box-border);
	background-color: var(--sub-box-bg);
	border-radius: 2px;
	margin: 8px 0;
	opacity: 100%;
	transform: translateY(0%);
	transition: all 0.5s;
}

.more-stats.collapsed {
	pointer-events: none;
	margin-bottom: -15px;
	opacity: 0%;
	transform: translateY(-10%);
	transition: all 0.5s;
}
.more-stats p {
	font-size: 0.8em;
	margin: 5px;
	transition: all 0.5s;
}
.more-stats.collapsed p {
	margin-top: -15px;
}
.summary-header {
	text-align: center;
	margin: 8px 0px;
}
.managers,
.employees {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.card-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}
.employee-input .field {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.employee-input .field label {
	display: flex;
	float: left;
	width: 22%;
}
.employee-input .field .control,
.role-select {
	width: 78%;
}
.role-select:active {
	border-color: rgb(118, 118, 118) !important;
	border-radius: 3px;
}
.role-select:focus {
	outline: none;
}
@media screen and (max-width: 768px) {
	.mobile-background-container {
		position: absolute;
		display: flex;
		width: 100%;
		min-height: 800px;
		height: 100%;
		background-color: var(--blue);
		overflow: hidden;
		z-index: 0;
	}
	.mobile-background {
		position: relative;
		display: flex;
		background-image: url('../banner.jpg');
		background-size: cover;
		width: 100%;
		height: 100%;
		opacity: 75%;

		filter: blur(2px);
		pointer-events: none;
	}
	.navbar-brand {
		padding: 0 0.75rem;
	}
	.brand-text {
		display: none;
	}
	.init-container {
		margin-top: 180px;
		padding: 0;
		width: 90%;
		min-width: 350px;
		max-width: 470px;
	}
	.form-side {
		width: 100%;
		border-radius: 20px 20px 8px 8px;
	}
	.form-side h1 {
		font-size: 5.5rem;
		border-radius: 8px 8px 0 0;
	}
	.form-side h6 {
		width: 90%;
	}
	.label,
	button {
		font-size: 1.2rem;
	}
	.form-side h6,
	input,
	.sub-container p,
	.sub-container a {
		font-size: 1.1rem;
	}
	.brand {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: auto;
		top: 0;
		transform: translateY(-150%) scale(1.3);
	}
	.banner-side {
		position: absolute;
		overflow: visible;
		width: 100%;
		background-color: transparent;
	}
	.banner::before {
		display: none;
	}
}
