:root {
    --off-black: #1b1b1b;
    --off-white: #fcfbfd;
    --blue: #324e70;
    --blue-light: #91b0d4;
    --accent: #cfc6d1;
    --sub-box-bg: #e4dfdf;
    --sub-box-border: #cfcfcf;
}

/* CSS RESETS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}
html {
    height: 100%;

}
ol, ul {
    list-style: none;
}

h1, h2, h3, h4 {
    font-family: 'Alumni Sans Pinstripe';
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.5rem;
}
body {
    font-family: 'Montserrat';
    background-color: var(--off-black);
    color: var(--off-white);
    overflow-x: hidden;

}

/* MAIN STYLING */
nav {
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: .5rem calc((100vw - 1150px) / 2);
    align-items: center;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.705));
    background-color: rgb(22, 22, 22);
        z-index: 99999 !important;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: calc(100vh - 130px);

}
button {
    border: none;
    cursor: pointer;
    background-color: var(--blue);
    font-family: 'Montserrat';
    color: var(--off-white);
    font-weight: 900;
    letter-spacing: 1px;
    border-radius: 5px;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.568);
    transition: filter 0.2s;
}
button:hover {
    filter: brightness(1.2);
}
button:active {
    filter: brightness(1.4);
}
button:focus {
    outline: none;
}
header {
    background-color: var(--blue);
    display: flex;  flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 5px calc((100vw - 1180px) / 2);
    padding-bottom: 20px;

}
label {
    font-family: 'Poppins';
}
input {
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgb(168, 166, 166);
    text-indent: 6px;
    font-size: 90%;
    height: 33px;
    margin-bottom: 11px;
}
input:focus {
    outline: none !important;

    box-shadow: 0px 0px 1px 2px #7693b8cb !important;
}
footer {
    position: relative;
    display: flex;
    justify-content: center; align-items: center;
    height: 50px;
    width: 100vw;
}
.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0;
}


.navbar-brand, .index-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-brand h3 {
    font-weight: 900;
    color: var(--off-white);
    margin-top: 12px;
}
.navbar-brand .ez, .navbar-brand-icon {
    color: var(--blue-light);
}
.navbar-brand .index-button:hover {
    text-decoration: none;
    filter: brightness(.75)
}
.navbar-toggler {
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
.navbar-hover-arrow {
    position: absolute;
}
.collapse {
    display: none !important;
}
.nav-link-container {
    
    position: absolute;
    display: flex;  flex-direction: column;
    justify-content: center;    align-items: center;
    font-size: 1.5rem;
    transform: translateY(100%);
    background-color: var(--off-black);

}
.init-container {
    margin-top: 45px;
    border-radius: 8px;
    filter: drop-shadow(2px 4px 5px rgba(0, 0, 0, 0.37));
    display: flex;
    flex-direction: row;
    max-width: 50% !important;
    width: 40%;
    min-height: 500px;
    height: 500px;
    z-index: 0;
}
.form-side {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent);
    color: var(--off-black);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 8px;
}
.form-side h1 {
    font-weight: 700;
    letter-spacing: 3px;
    width: 100%;
    padding: 30px;
    margin-bottom: 15px;
    text-align: center;
    line-height: 1;
    text-shadow: 2px 3px 3px var(--off-black);
    color: var(--off-white);
    background-color: var(--blue);
    border-top-left-radius: 8px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 17px;
}
.form-side h6 {
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 3px;
}
.form-side p {
    margin-bottom: 20px;
}
.init-form {
    width: 80%;
    
}

.label {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    font-weight: 900;
    font-size: 90%;
}
.init-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 5px;
}
.init-button {
    width: 100%;
    height: 42px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.init-button:hover {
    filter: brightness(1.2);
}
.init-button:active {
    filter: brightness(1.4);
}
.init-button:focus {
    outline: none;
}
.divider {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0);
    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.4234068627450981) 50%, rgba(255,255,255,0) 100%);
}

.banner-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: var(--blue);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}
.banner {
    position: relative;
    width: 100%;
    height: 100%;
}
.banner::before {
    content:"";
    position: absolute;
    background-image: url('../banner.jpg');
    width: 90%;
    height: 50%;
    right: 25px;
    top: 120px;
    background-size:cover;
    transform: rotate(90deg)

    scale(1.55);
    opacity: 75%;
    filter: blur(2px);
    background-repeat: no-repeat;
    z-index: 0;
}
.brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 22%;
    z-index: 555;
}
.brand h1 {
    display: flex;
    align-items: center;
    line-height: 1;

    font-weight: 900;
    text-shadow: 1px 2px 2px black;
    color: var(--off-white);
}
.brand span {
    color: var(--blue-light);
}
.brand h5 {
    font-weight: 100;
    opacity: 90%;
    letter-spacing: 2px;
    line-height: 0;
    text-shadow: 1px 2px 2px black;
}
.sub-container {
    margin-top: -5px;
}
.brand-icon {
    color: var(--blue-light);
    font-size: 4rem;
    display: flex;
    z-index: 555;
}
.menu-button {
    width: 10px;
    height: 10px;
    margin: 30px 65px;
}
header h1 {
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--off-white);
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.377);
}
.exit-button {
    display: flex;  justify-content: center;    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 26px;
    height: 26px;
    border: none;
}
header i, .exit-button {

    color: var(--blue-light);

    transition: transform 100ms;

}
header i:hover, .exit-button:hover {
    cursor: pointer;
    color:#bdd4ee;
    filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.342));
    transition: color 0.1s,
    transform 100ms,
    filter 0.05s;
}
header i:active, .exit-button:active {
    transform: scale(0.9);
}
.open i {
    color: var(--off-white);
    
}
.open i:hover {
    color: white;
    filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.541));
    transition: color 0.1s,
    transform 100ms,
    filter 0.05s;
}
.header-text h1 {
    line-height: 1;
    margin: 20px 0 10px 0;
}
.header-text h4 {
    margin-bottom: 0;
}
.team-menu {
    position: absolute;
    transform: translate(-91%, 3px);

    width: 155px;
    user-select: none;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 6px;

}
.team-menu li {
    padding: 8px 10px;
    cursor: pointer;
    background-color:#2424248e;
    transition: background-color 100ms;
}
.team-menu li:hover {
    background-color:#3b3b3b8e;
}
#edit-name {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#edit-name, #edit-manager {
    border-bottom: 1px solid white;
}
#delete-team {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.tab-button {
    height: 45px;
    padding: 0 15px;
    margin-right: 5px;
    background-color: transparent;
    transition: background-color 100ms;
}
.tab-button:hover {
    background-color: rgba(255, 255, 255, 0.048);
}
.tab-container {
    width: 100% !important;
    padding: 10px calc((100vw - 1180px) / 2);
    background-color:#16223175;
}
.home-container {
    display: flex;
    width: 1190px; 
    padding: 16px 0px;
    justify-content: space-between;
    height: 100%;
    /* min-height: 750px; */
}
.fa-user {
    color: var(--off-white);
    font-size: 2rem;
    margin-right: 5px;
}
.quick-add, .your-team, .summary {
    background-color: rgb(231, 227, 227);

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: var(--off-black);
}


.col-home {
    display: flex;
    flex-direction: column;
    width: calc(35% - 16px);
    min-height: calc(100% - 0px) !important;
}
.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}
.your-team {
    width: 65%;
}
.quick-add h2, .your-team h2, .summary h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px 0;
    background-color: var(--blue);
    color: var(--off-white);
    text-shadow: 1px 1px 2px black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 3.5em;
    letter-spacing: 1px;
    width: 100%;
}
.summary h6 {
    font-size: 1.05em;
}

h5 {

    font-size: 1.2em !important;

}
.divider {
    width: 65%;
}
.card-body {
    
    padding: 13px 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.container-body {
    padding: 13px 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.card-body, .container-body p {
    font-size: 1em;
    line-height: 1.25;
    margin: 5px 0;
}
.more-stats-toggler {

    font-size: .75em;
    cursor: pointer;
    margin-left: 3px;
    user-select: none;
}
.more-stats-toggler:hover {
    text-decoration: underline;
    text-underline-offset: 1px;
    text-decoration-color: #8d8d8d;
}
.more-stats-toggler i {

    transition: all 0.1s;
}
.more-stats-toggler:hover i {
    transform: translateY(1px);
}
.more-stats-toggler:hover .rotated {
    transform: rotate(180deg);
}
.info {
    display: flex;
    width: 90%;
    align-items: center;
    margin:5px 0;
}
.info i {
    font-size: 1.5em;
    margin: 3px 10px 3px 3px;
}
.info p {
    font-size: .8em;
    margin-bottom: 0;
    line-height: 1.25;
}
.info p i {
    font-size: 1em;
    margin: 0;
}
.rotated {

    transform: rotate(180deg)
    translateY(0px);
}
.more-stats {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 8px;
    border: 1px solid var(--sub-box-border);
    background-color: var(--sub-box-bg);
    border-radius: 2px;
    margin-top: -5px;
    margin-bottom: 8px;
    opacity: 100%;
    transform: translateY(0%);
    transition: all 0.5s;
}

.more-stats.collapsed {
    pointer-events: none;
    margin-bottom: -35px;
    opacity: 0%;
    transform: translateY(-10%);
    transition: all 0.5s;
}
.more-stats p {
    font-size: .8em;
    margin: 5px;
    transition: all 0.5s;
}
.more-stats.collapsed p {
    margin-top: -15px;
}
.summary-header {
    text-align: center;
    margin: 8px 0px;
}
.managers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.card-container {
    display: flex;
    width: 100%;
    justify-content: center;
}
