.team-card-container {
	display: flex;
	width: 100%;
	height: 100px;
	margin-bottom: 13px;
	border-radius: 5px 5px 5px 3px !important;
	transition: all 200ms;
}
.team-card-container:hover {
	cursor: pointer;
	transform: translateY(-2px);
}
.team-card-header {
	width: 50%;
	border-right: 1px solid rgba(192, 192, 192, 0.486);
}
.team-header-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 0.5rem;
}
.team-card-header h6 {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	padding: 2px 0;
	text-indent: 4px;
	background-color: var(--blue);
	color: var(--off-white);
	text-shadow: 1px 1px 2px black;
	border-top-left-radius: 3px;
	font-size: 0.6rem;
	letter-spacing: 1px;
	width: 100%;
	margin: 0;
}
.team-card-header h3 {
	line-height: 1;
	margin: 0;
	font-size: 4rem;
}
.right-caret {
	font-size: 0.5rem;
	margin-right: 2px;
}
.tc-header-manager {
	font-size: 0.75rem;
	text-indent: 2px;
	margin-top: -2px;
}
.tc-managers,
.tc-employees {
	width: 18.5%;
	border-right: 1px solid rgba(192, 192, 192, 0.486);
	border-left: 1px solid rgb(255, 255, 255);
}
.tc-delete {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 13%;
	border-left: 1px solid rgb(240, 167, 167);
	border-radius: 0px 3px 3px 0px;
	background-color: rgb(221, 88, 95);
	transition: all 100ms;
}
.tc-count {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 45%;
	font-size: 1.25rem;
	font-weight: 900;
}
.tc-icon-container {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 3px 25%;
	flex-wrap: wrap;
}
.tc-manager-icon,
.tc-employee-icon {
	margin: 3px;
	color: rgb(105, 106, 114);
}
.tc-manager-icon {
	font-size: 1.4rem;
}
.tc-employee-icon {
	font-size: 0.8rem;
}
.tc-delete-icon {
	font-size: 2.5rem;
	color: var(--off-white);
}
.tc-delete:hover {
	background-color: rgb(250, 131, 137);
}
